
.pfp {
  height: 30px;
  width: 30px;
}
.submit {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.submit-btn {
  background-color: #535E4B;
  border: none;
  height: 50px;
  width: 100px;
  font-size: 20px;
  border-radius: 5px;
  color: white;
  font-family: 'Sura', serif;
  text-align: center;
  margin-top: 40px;
}
.submit-btn:hover {
  cursor: pointer;
  background-color: #69775f;
}

.organization {
  font-size: 20px;
  font-family: 'Sura', serif;
}

.checkbox {
  height: 17px;
  width: 17px;
}

.organization input:checked ~ .checkmark {
  background-color: #535E4B;
}
.checkbox:hover {
  cursor: pointer; 
}
input {
  align-items: center;
  padding: 12px 20px;
  margin: 15px;
  box-sizing: border-box;
  font-family: 'Sura', serif;
  font-size: 16px;
  background-color: #E9E6E2;
  border: 2px #535E4B;
  resize: none;
}
#namelabel {
  font-size: 20px;
  text-align: center;
  padding: 1px;
  font-family: 'Sura', serif;
}

#names {
  text-align: center;
}

#nameinput {
  padding: 12px 20px;
  margin: 15px;
  box-sizing: border-box;
  font-family: 'Sura', serif;
  font-size: 16px;
  background-color: #E9E6E2;
  border: 2px #535E4B;
  resize: none;
  }

  #title {
  font-family: 'Sura', serif;
  text-align: center;
  font-size: 50px;
}

h3 {
  font-family: 'Sura', serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #535E4B;
  font-family: 'Sura', serif;
}

li{
  float: right;
}

li a {
  display: block;
  color: #E9E6E2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 20px;
}

li a:hover {
  background-color: #646e5d;
  padding: 10px 10px;
}

.header {
  background-color: #C1C2AD;
  text-align: center;
  padding: 10px;
}

body {
  background-color: #C1C2AD;
}

.container{
  display: inline-block;
}

.typed-out{
  overflow: hidden;
  font-family: 'Sura', serif;
  border-right: 3px solid #535E4B;
  white-space: nowrap;
  animation: typing 4s steps(50, end) forwards;
  font-size: 20px;
  width: 0;
  word-wrap: break-word;
}

@keyframes typing {
  from { width: 5 }
  to { width: 100% }
}

.header {
  font-family: 'Sura', serif;
  text-align: center;
  font-size: 20px;
  background: #C1C2AD;
}
.nav-image {
  height: 50px;
  width: 80px;
}
